body{background-color:#5688CA ; margin: 100px; text-align: center;}
title{color:#0058C9}
h1{color:#AF0000; font-size: 100px}
h2{border:5px #255; color:#AF0000; background-color:#FFFFFF; padding: 5px; font-size: 20px}
h3{color:#0058C9;}
h4{color: #000; font-family:sans-serif;}
p{color:#0058C9}
a{#color:#ECE808; text-decoration: none;}
p.attribution{font-size:12px}